.pipe-management
  .path-way-border
      margin-top: 80px
      border: 1px dashed #1890ff 
      padding: 20px
      border-radius: 5px  
    .operator-container
      margin-left: 53%
    .path-way-line-up
      height :222px
      border-bottom: 1px dashed #1890ff
    .path-way-line-down
      height :86px
      border-bottom: 1px dashed #1890ff
  .path-way-border-input
      border: 1px dashed #1890ff 
      padding: 10px
      border-radius: 5px 